.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox input {
  display: none;
}

.checkbox span {
  display: block;
  position: relative;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--dark-grayish-blue);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox span:hover {
  border: 1px solid transparent;
  background: var(--bg-gradient) border-box;
  -webkit-mask: linear-gradient(var(--Very-Light-Gray) 0 0) padding-box,linear-gradient(var(--Very-Light-Gray) 0 0);
  mask-composite: exclude;
}