@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --very-dark-desaturated-blue: hsl(235, 16%, 14%);
  --dark-theme: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
  --font-size: 18px;
  --font-family: 'Josefin Sans', sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--very-light-gray);
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 2rem;
  max-width: 80%;
  width: 375px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.header h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--very-light-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 2px;
}

.header img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mainTask {
  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  gap: .7rem;
}

.task input {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--very-light-grayish-blue);
  height: 100%;
  width: 100%;
}

.taskList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.taskList li:first-of-type > div {
  margin-top: 1rem;
  border-radius: 3px 3px 0 0;
}

.taskList li:last-of-type > div {
  margin-bottom: 1rem;
  border-radius: 0 0 3px 3px;
}

.taskList li:only-of-type > div {
  border-radius: 3px;
}